@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('AlteHaasGrotesk.woff2') format('woff2'),
        url('AlteHaasGrotesk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nature Beauty Personal Use';
    src: url('NatureBeautyPersonalUse.woff2') format('woff2'),
        url('NatureBeautyPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('AlteHaasGrotesk_Bold.woff2') format('woff2'),
        url('AlteHaasGrotesk_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABasterRules';
    src: url('ABasterRules.woff2') format('woff2'),
        url('ABasterRules.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

